body {
    background-color: #2c3e50;
    color: #e74c3c;
    font-family: 'Nunito', sans-serif;
    background: conic-gradient(from 20deg, #2c3e50, #34495e, #4f6a7e, #2c3e50);
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Początkowa przezroczystość */
    }
    to {
        opacity: 1; /* Końcowa pełna widoczność */
    }
}

/* Hero section */
.hero {
    margin: 0; /* Usuń marginesy */
    padding: 0; /* Usuń dodatkowy padding, jeśli niepotrzebny */
    width: 100%;
    height: 150%;
    background: url('https://i.imgur.com/1zuyw8k.jpeg') no-repeat center center;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: darken;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    overflow: hidden;
    color: #ecf0f1;
    text-align: center;
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 8s ease-in-out;
    opacity: 0.8;
}

.hero h1 {
    font-family: 'Playfair Display', serif; /* Czcionka dla nagłówka */
    font-weight: 700; /* Zmiana na bardziej wyraźny font-weight */
    font-style: italic;
    margin-bottom: 0.5em; /* Margines poniżej nagłówka */
    animation: textFade 20s ease-in infinite;
    background: linear-gradient(120deg, #ffffff, #ffffff);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text; /* Przycina tło do tekstu */
    -webkit-text-fill-color: transparent;
}

@keyframes textFade {
    0%, 100% {
        opacity: 0; /* Tekst jest niewidoczny na początku i na końcu */
        transform: translateY(-10px); /* Przesunięcie tekstu w górę */
    }
    50% {
        opacity: 1; /* Tekst staje się w pełni widoczny w środku animacji */
        transform: translateY(0); /* Powrót tekstu do pierwotnej pozycji */
    }
}

.hero p {
    font-family: 'Nunito', sans-serif; /* Czcionka dla tekstu w sekcji hero */
    font-size: 1em; /* Zwiększenie rozmiaru czcionki */
    animation: textFade 15s ease-in infinite;
    background: linear-gradient(120deg, #ffffff, #ffffff);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text; /* Przycina tło do tekstu */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

h2 {
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 2em;
}

p {
    font-family: 'Nunito', sans-serif; 
    font-size: 1em; /* Zapewnienie jednolitego rozmiaru czcionki dla paragrafów */
}

p a {
    text-decoration: none; /* Usuwa podkreślenie */
    color: inherit; /* Zachowuje domyślny kolor tekstu */
    font-size: 1.2em; 
}

.section-header {
    font-family: 'Playfair Display', serif; /* Czcionka dla nagłówków */
    font-size: 2em; /* Rozmiar czcionki */
    margin-bottom: 0.5em; /* Margines dolny */
    transition: color 3s, text-shadow 2s; /* Płynne przejścia dla koloru tekstu i cienia */
    color: #4d6d8d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

/* Efekt hover dla nagłówków sekcji */
.section-header:hover {
    color: #e74c3c; /* Kolor tekstu po najechaniu myszką */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Cień tekstu przy hoverze */

}

.dropdown-menu {
    transition: opacity 3s, transform 3s; /* Płynne przejście */
    opacity: 0;
    transform: translateY(-10px);
    font-style: italic;
}

.navbar {
    background-color: #34495e;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
    padding: 10px 20px; 
    transition: transform 6s ease, opacity 6s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.navbar.show {
    transform: scale(1); /* Pełny rozmiar */
    opacity: 1; /* Pełna widoczność */
}

.navbar-nav .nav-link {
    font-family: 'Playfair Display', serif; /* Czcionka dla linków */
    font-weight: 700; /* Grubość czcionki */
    font-style: italic;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    transition: color 2s; /* Płynne przejście koloru tekstu */
}

/* Efekt hover na linkach */
.navbar-nav .nav-item .nav-link:hover {
    color: #e74c3c;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-body {
    opacity: 0; /* Ukryj kartę na początku */
    animation: fadeInUp 8s ease forwards; /* Dodaj animację z opóźnieniem */
}

img:hover {
    transform: scale(1.1); /* Powiększenie obrazka o 20% */
}

.carousel-indicators {
    position: absolute;
    bottom: -55px; /* Odległość od dołu karuzeli */
    left: 0%;
    transform: translateX(-0%);
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators button {
    width: 12px !important; /* Szerokość kropki */
    height: 12px !important; /* Wysokość kropki */
    margin: 4px !important; /* Odstęp między kropkami */
    background-color: black !important; /* Kolor kropek */
    border: none !important;
    border-radius: 50% !important; /* Okrągłe kropki */
    opacity: 0.7 !important; /* Przezroczystość kropek */
    cursor: pointer !important; /* Kursor wskaźnik */
}

.carousel-indicators .active {
    background-color: white !important; /* Kolor aktywnej kropki */
    opacity: 1 !important; /* Pełna przezroczystość dla aktywnej kropki */
}

.social-buttons {
    display: flex;
    justify-content: center; /* Wyśrodkowanie przycisków */
    gap: 10px; /* Odstęp między przyciskami */
    margin: 20px 0; /* Odstęp od góry i dołu */
}

.social-button {
    text-decoration: none;
    color: white; /* Kolor ikon */
    background-color: #343a40; /* Tło przycisków */
    padding: 10px;
    border-radius: 50%; /* Zaokrąglenie przycisków */
    font-size: 20px; /* Rozmiar ikon */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 2s ease;
}

.social-button:hover {
    background-color: #495057; /* Zmiana koloru tła po najechaniu */
}

.social-button img {
    width: 25px; /* Szerokość ikony */
    height: 25px; /* Wysokość ikony */
}

.social-button:hover {
    background-color: #495057; /* Zmiana koloru tła po najechaniu */
}

.x { background-color: #8b8b8b; } /* Kolor tła dla ikony X */
.instagram { background-color: #e1306c; } /* Kolor tła dla ikony Instagrama */
.facebook { background-color: #4267b2; }

.portfolio-item img {
    width: 100%; /* Ustawia obrazki, aby zajmowały całą szerokość kontenera */
    height: auto; /* Zachowuje proporcje obrazka */
}

#portfolio .card-img-top {
    transition: transform 3s ease, border-radius 2s ease; /* Dodanie płynnego przejścia dla transformacji i zaokrąglenia */
}

#portfolio .card-img-top:hover {
    transform: scale(0.90); /* Powiększenie obrazka przy najechaniu */
    border-radius: 15px; /* Zaokrąglenie krawędzi obrazka przy najechaniu */
    opacity: 0.9; /* Opcjonalnie: zmniejszenie przezroczystości */
}

#about .card img {
    transition: transform 3s ease, border-radius 2s ease; /* Dodanie płynnego przejścia dla transformacji i zaokrąglenia */
}

#about .card img:hover {
    transform: scale(0.90); /* Powiększenie obrazka przy najechaniu */
    border-radius: 15px; /* Zaokrąglenie krawędzi obrazka przy najechaniu */
    opacity: 0.9; /* Opcjonalnie: zmniejszenie przezroczystości */
}

#services .card-img-top {
    transition: transform 3s ease, border-radius 2s ease; /* Płynne przejście dla transformacji i zaokrąglenia */
    transform-origin: center; /* Ustawienie środka jako punktu transformacji */
}

#services .card-img-top:hover {
    transform: scale(0.9); /* Powiększenie obrazka przy najechaniu */
    border-radius: 15px; /* Zaokrąglenie krawędzi obrazka przy najechaniu */
    opacity: 0.9; /* Zmniejszenie przezroczystości obrazka przy najechaniu */
}

#services .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Cień dla kart */
    transition: box-shadow 1.5s ease; /* Płynne przejście dla cienia */
}

#services .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5); /* Zwiększenie cienia przy najechaniu */
}

#portfolio .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Cień dla kart */
    transition: box-shadow 1.5s ease; /* Płynne przejście dla cienia */
}

#portfolio .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5); /* Zwiększenie cienia przy najechaniu */
}

#about .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Cień dla kart */
    transition: box-shadow 1.5s ease; /* Płynne przejście dla cienia */
}

#about .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5); /* Zwiększenie cienia przy najechaniu */
}

#blog .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Cień dla kart */
    transition: box-shadow 1.5s ease; /* Płynne przejście dla cienia */
}

#blog .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5); /* Zwiększenie cienia przy najechaniu */
}

#blog .card-img-top {
    transition: transform 3s ease, border-radius 2s ease; /* Płynne przejście dla transformacji i zaokrąglenia */
    transform-origin: center; /* Ustawienie środka jako punktu transformacji */
}

#blog .card-img-top:hover {
    transform: scale(0.9); /* Powiększenie obrazka przy najechaniu */
    border-radius: 15px; /* Zaokrąglenie krawędzi obrazka przy najechaniu */
    opacity: 0.9; /* Zmniejszenie przezroczystości obrazka przy najechaniu */
}

.modal {
    transition: transform 3s ease, opacity 2.5s ease;
}

.modal.show {
    transform: scale(1.05); /* Powiększa modal o 2% podczas hover */
    opacity: 0,7;
    transition: transform 3s ease, opacity 2.5s ease;
}

/* Efekt hover na backdrop modalu */
.modal-backdrop {
    transition: opacity 2s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.show {
    opacity: 0.5; /* Przyciemnia tło podczas hover na modal */
}

.modal-body img {
    border-radius: 15px; /* Dostosuj wartość w zależności od preferencji */
}

.full-resolution-image {
    max-width: 90%;   /* Obrazek wypełnia szerokość modal, jeśli potrzeba */
    max-height: 90%;  /* Obrazek wypełnia wysokość modal, jeśli potrzeba */
    object-fit: contain; /* Zapewnia, że obrazek zachowuje proporcje, dopasowując się do rozmiaru modal */
    cursor: pointer;   /* Zmienia kursor na wskaźnik po najechaniu */
}

.modal-dialog { 
    border: none; /* Opcjonalnie: usuwa ramkę */
    max-width: 80%;  /* Domyślna szerokość modala */
    max-height: 80%; /* Domyślna wysokość modala */
    transition: all 2s ease;  /* Animacja zmiany rozmiaru */
    margin: auto;  /* Wyśrodkowanie poziome */
    display: flex;
    align-items: center; /* Wyśrodkowanie pionowe */
    justify-content: center; /* Wyśrodkowanie poziome */
    position: relative; /* Umożliwia użycie właściwości top */
    border-radius: 15px;
    top: 25px;
}

#aboutModal1 .modal-body {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    height: 100%; /* Pełna wysokość modalu */
    border-radius: 15px;
    top: 8px;
}

/* Ustawienia dla obrazka w modalu */
#aboutModal1 .modal-body img {
    max-width: 85%;
    max-height: 68vh;
    object-fit: contain; /* Dopasowanie zdjęcia bez zniekształceń */
}

#aboutModal1 .modal-body img:hover {
    transform: scale(1.20); /* Powiększenie obrazka */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Dodanie cienia */
}

/* Podstawowy styl dla komunikatów */
.response {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block; /* Upewnij się, że element jest wyświetlany */
    visibility: visible; /* Zapewnij widoczność elementu */
    opacity: 1; /* Sprawdź, czy element nie jest przezroczysty */
    height: auto; /* Upewnij się, że element ma odpowiednią wysokość */
    width: 100%; 
}

/* Styl dla komunikatu sukcesu */
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.error {
    background-color: #f8d7da; /* Czerwone tło dla błędu */
    color: #721c24; /* Kolor tekstu dla błędu */
    border: 1px solid #f5c6cb; /* Obramowanie dla błędu */
    padding: 15px;
    border-radius: 5px;
    visibility: visible; /* Upewnij się, że element jest widoczny */
    display: block; /* Upewnij się, że element jest wyświetlany */
    opacity: 1; /* Upewnij się, że element nie jest przezroczysty */
}

footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    background-color: #34495e; /* Ustawienie tła stopki na ciemnoszare */
    color: #fff; /* Kolor tekstu w stopce */
    text-align: center;
    padding: 20px 0; /* Dodanie paddingu dla lepszego wyglądu */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* Efekt hover dla linków w stopce */
.footer a {
    color: #f39c12; /* Domyślny kolor linków */
    transition: color 3s ease; /* Płynna zmiana koloru linków */
}

.footer a:hover {
    color: #e74c3c; /* Kolor linków przy hoverze */
}

/* Efekt hover dla nagłówków w stopce */
.footer h2 {
    color: #fff; /* Domyślny kolor nagłówków */
    transition: color 3s ease; /* Płynna zmiana koloru nagłówków */
}

.footer h2:hover {
    color: #e74c3c;
}

.footer-container {
    display: flex;
    flex-direction: column; /* Ustawienie sekcji w kolumnie dla lepszego dostosowania */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footer-section {
    flex: 1;
    margin: 1rem;
}

.footer-section h2 {
    font-family: 'Playfair Display', serif; /* Czcionka dla nagłówków sekcji */
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-section p {
    margin-bottom: 0.5rem;
    font-family: 'Nunito', sans-serif; /* Czcionka dla paragrafów w sekcji stopki */
}

.centered-paragraph {
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    margin: 0 auto;     /* Wyśrodkowanie bloku (jeśli ma szerokość) */
    width: 85%;         /* Opcjonalnie: ustaw szerokość akapitu, aby go wyśrodkować jako blok */
}

/* Dodatkowe style dla sekcji i formularzy */
section {
    padding: 60px 0; /* Dodanie paddingu dla wszystkich sekcji */
}

form {
    max-width: 600px; /* Maksymalna szerokość formularza */
    margin: 0 auto; /* Wyśrodkowanie formularza */
}

.navbar-custom .nav-link {
    text-decoration: none; /* Usuwa podkreślenie z linków */
    color: #007bff; /* Kolor linków */
}

.shadow-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Dodaje delikatny cień */
    transition: box-shadow 1.5s ease-in-out;   /* Animacja przy zmianie cienia */
}

.shadow-image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Intensywniejszy cień po najechaniu */
}

.rounded-image {
    border-radius: 15px; /* Dodaje zaokrąglone rogi */
}

@media (max-width: 768px) {

    form {
        max-width: 90%; /* Szerokość formularza dostosowana do tabletów */
        padding: 15px; /* Mniejsze paddingi dla tabletów */
    }

    .card {
        max-width: 85%;
        margin-bottom: 15px; /* Mniejsze marginesy dla tabletów */
        justify-content: center; 
        align-items: center;
        position: relative;
        margin-left: 30px;
    }

    .card-body {
        padding: 15px;
    }

    .justify-text {
        text-align: justify; /* Wyjustowanie tekstu */
        margin: 0 auto; /* Wyśrodkowanie bloku tekstu */
        max-width: 85%;
    }

    .footer .social-buttons a {
        margin-right: 10px; /* Odstępy między przyciskami w sekcji social media */
    }

    .modal-dialog {
        max-width: 90%;  /* Większa szerokość na telefonach */
        max-height: 90%; /* Większa wysokość na telefonach */
        margin: 0;
        margin-left: 25px;
    }
    
    .modal-content {
        border-radius: 8px; /* Mniejsze zaokrąglenie rogów na mniejszych ekranach */
    }
    
    .modal-body {
        height: auto;
        padding: 15px;
    }
    
    .full-resolution-image {
        max-width: 100%;
        max-height: 80vh; /* Maksymalna wysokość obrazka dostosowana do widoku telefonu */
    }

}